@model SistemaDeBarbeariaFront.Models.Agendamento

<h1>Editar Agendamento</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" name="Id" value="@Model.AgendamentoId" />
    <div class="form-group">
        <label for="Cliente">Cliente</label>
        <input type="text" class="form-control" id="Cliente" name="Cliente" value="@Model.cliente" required>
    </div>
    <div class="form-group">
        <label for="Barbeiro">Barbeiro</label>
        <input type="text" class="form-control" id="Barbeiro" name="Barbeiro" value="@Model.barbeiro" required>
    </div>
    <div class="form-group">
        <label for="Servico">Serviço</label>
        <input type="text" class="form-control" id="Servico" name="Servico" value="@Model.servicos" required>
    </div>
    <div class="form-group">
        <label for="Data">Data</label>
        <input type="date" class="form-control" id="Data" name="Data" value="@Model.HorarioData.ToString("yyyy-MM-dd")" required>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Cancelar</a>
</form>
